<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/tshirts.css">
	<link rel="stylesheet" type="text/css" href="/css/search.css">
	<link rel="stylesheet" type="text/css" href="/css/general.css">
	<link rel="stylesheet" type="text/css" href="/css/vertical_menu.css">
</head>
<body class="dark">
	<template>vertical_menu</template>
	<div id="main_space"> </div>
	<div id="main_content">
		<template>search_bar</template>
		<template>main_view_upgrade_user</template>
	</div>
</body>
</html>
